    body {
      background-color: #0a0f18;
      color: white;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    .content {
      text-align: center;
      padding: 20px;
    }

    img {
      width: 33%;
      max-width: 200px;
      margin-bottom: 20px;
    }

    iframe {
      width: 100%;
      height: 315px;
      max-width: 560px;
      margin-bottom: 20px;
    }

    h1,
    h2 {
      color: #1DBAC5;
    }